.cpu-chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h3 {
    color: #6c757d;
    margin-bottom: 10px;
  }

  &__error {
    color: red;
    margin-bottom: 10px;
  }
}
