@import '../../_variables.scss';

.footer {
  background-color: $gray-700;
  color: $gray-300;
  padding: 10px 0;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin: 0;
    font-size: 0.9rem;
  }
}
