@import '../../_variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background-dark;
    padding: 20px;
    color: $gray-100;

    &__logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__nav {
        display: flex;

        &-link {
            margin-left: 20px;
            text-decoration: none;
            color: $gray-200;
            font-size: 1.1rem;

            &--active {
                color: #63b3ed;
            }

            &:hover {
                color: #63b3ed;
            }
        }
    }
}